@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700|Roboto+Slab:300,700');
// https://fonts.google.com/?selection.family=Roboto+Condensed:300|Roboto+Slab:300,700&subset=cyrillic

@import "shared/reset";
@import "shared/colors";
@import "shared/grid";

@import "components/header.scss";
@import "components/site-menu";
@import "components/footer";

body {
  // font-family: 'Roboto Slab', serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: $pastel;
}

.top-level-wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

// headers
h1 {
  width: 200%;
  margin-left: -50%;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-transform: lowercase;

  &:before, &:after {
    content: " ";
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    border-bottom: 1px solid $charcoal;
  }

  &:before {
    margin-right: 1em;
  }

  &:after {
    margin-left: 1em;
  }
}
