@import "constants";


.v-list > * {
  margin-bottom: .25em;

  &:last-child {
    margin-bottom: 0;
  }
}


.h-list > * {
  display: inline-block;
  margin-right: 2em;

  &:last-child {
    margin-right: 0;
  }
}


.hoverable {
  border-radius: .25em;
  border: 1px solid transparent;
  transition: border-color $transition-props;

  &:hover {
    border-color: transparentize($text-color, .7);
  }
}


.button {
  @extend .hoverable;
  display: inline-block;
  padding: .5em 2em;
  cursor: pointer;
  transition: background-color $transition-props, border-color $transition-props;


  &.grey {
    background-color: darken($bg-color, 10%);

    &:hover {
      background-color: darken($bg-color, 20%);
    }
  }


  &.blue {
    background-color: darken($info-color, 30%);

    &:hover {
      background-color: darken($info-color, 20%);
    }
  }


  &.red {
    background-color: darken($error-color, 30%);

    &:hover {
      background-color: darken($error-color, 20%);
    }
  }


  &.green {
    background-color: darken($link-color, 30%);

    &:hover {
      background-color: darken($link-color, 20%);
    }
  }
}