@import "constants";
@import "components";


input, textarea, select {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: $normal-text;
  display: inline-block;
  width: 100%;
  padding: .25em;
  background-color: lighten($bg-color, 30%);
  border-radius: .25em;
  border: 1px solid transparent;

  transition: background-color $transition-props, border-color $transition-props;

  &:hover {
    background-color: lighten($bg-color, 40%);
    border-color: transparentize($text-color, .7);
  }

  &:focus {
    background-color: lighten($bg-color, 90%);
    border-color: transparentize($text-color, .7);
  }
}


textarea {
  resize: none;
}


.label {
  font-size: $small-text;
  padding-top: .75em;
}


.controls {
  @extend .h-list;
  text-align: center;
  font-size: $x-small-text;

}


.hover-controls {
  @extend .controls;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -5em;
  padding: 1em;
  background-color: transparentize($bg-color, .3);
  transition: bottom $transition-props;
}


.has-hover-controls {
  position: relative;
  overflow: hidden;

  &:hover {
    .hover-controls {
      bottom: 0;
    }
  }
}



.form {
  @extend .v-list;

  .controls {
    margin-top: 1em;
  }
}
