@import "constants";
@import "components";


input, textarea {
  display: inline-block;
  width: 100%;
  padding: .25em;
  background-color: lighten($bg-color, 10%);
  border-radius: .25em;
  border: 1px solid transparent;

  transition: background-color $transition-props, border-color $transition-props;

  &:hover {
    background-color: lighten($bg-color, 20%);
    border-color: transparentize($text-color, .7);
  }

  &:focus {
    background-color: lighten($bg-color, 80%);
    border-color: transparentize($text-color, .7);
  }
}


textarea {
  resize: none;
}


.controls {
  @extend .h-list;
  text-align: center;
  font-size: $x-small-text;

  &.hover-controls {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -5em;
    padding: 1em;
    border-radius: .5em;
    background-color: transparentize($bg-color, .3);
    transition: bottom $transition-props;
  }
}


.admin-app {
  .form {
    @extend .v-list;

    .controls {
      margin-top: 1em;
    }
  }
}
