@import "constants";
@import "components";


input, textarea, select {
  display: inline-block;
  width: 100%;
  padding: .25em;
  background-color: darken($bg-color, 30%);
  border-radius: .25em;
  border: 1px solid transparent;

  font-weight: 300;
  font-family:'Roboto Slab', serif;
  font-size: $normal-text;

  transition: background-color $transition-props, border-color $transition-props;

  &:hover {
    background-color: darken($bg-color, 10%);
    border-color: transparentize($text-color, .7);
  }

  &:focus {
    background-color: darken($bg-color, 10%);
    border-color: transparentize($text-color, .7);
  }
}


textarea {
  resize: none;
}


.label {
  font-size: $small-text;
  padding-top: .75em;
}


.controls {
  @extend .h-list;
  margin-top: 1em;
  text-align: center;
  font-size: $x-small-text;
}


.hover-controls {
  @extend .controls;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -5em;
  padding: 1em;
  background: linear-gradient(to bottom, transparent 20%, transparentize($bg-color, .05) 100%);
  transition: bottom $transition-props;
}


.has-hover-controls {
  position: relative;
  overflow: hidden;

  &:hover {
    .hover-controls {
      bottom: 0;
    }
  }
}



.form {
  @extend .v-list;

  .controls {}
}
