@import "constants";
@import "components";

.header-logo {
  text-align: center;
  margin-bottom: 1em;

  .logo {
    width: 2.5em;
  }

  .slogan {
    margin-top: .5em;
    font-size: $big-text;
  }
}

.site-menu {
  @extend .h-list;
  text-align: center;

  .menu-item {
  }
}

@media screen and (max-width: $screen-s-width) {
}

@media screen and (min-width: $screen-s-width + 1) and (max-width: $screen-m-width) {
}