<div class="row input">
    <div class="column-1">{{label}}</div>
    <div class="column-3">
        <input type="text" placeholder="Введіть текст" value="{{value}}"/>
        <div class="error-message">{{errorMessage}}</div>
    </div>
</div>
