@import "shared";

$button-gradient-from: hsl(200, 75%, 85%);
$button-gradient-to: lighten($button-gradient-from, 10%);
$button-gradient-from-hover: lighten($button-gradient-from, 5%);
$button-gradient-to-hover: lighten($button-gradient-to, 2%);

.button {
  @include in-out-fast(border-color);

  display: inline-block;
  padding: .5em;

  background: linear-gradient($button-gradient-from, $button-gradient-to, $button-gradient-from);
  border: 1px solid $button-gradient-from;
  border-radius: .2em;
  cursor: pointer;

  &:hover {
    background: linear-gradient($button-gradient-from-hover, $button-gradient-to-hover, $button-gradient-from-hover);
    border-color: $button-gradient-from-hover;
  }
}

