@import "general";

.dishes {
  padding: 2em;
  min-width: 30em;

  ul {
    li {
      @include clear-fix();
      margin-bottom: .5em;

      &:last-child {
        margin-bottom: 0;
      }

      div {
        &.left {
          float: left;
          width: 80%;
        }

        &.right {
          float: right;
          width: 20%;
          text-align: right;

          .price::after {
            content: " грн.";
          }
          .controls {
            padding-left: 1em;
            opacity: 0;
            transition: opacity .3s;
          }
        }

      }

      &:hover {
        div {
          .controls {
            opacity: 1;
          }
        }
      }
    }
  }
}
