@import "shared";

.application > .footer {
  background-color: $grey;
  border-top: 1px solid darken($grey, 20%);

  .left, .middle, .right {
    float: left;
  }

  .left {
    width: 30%;
  }
  .middle {
    width: 40%;
    text-align: center;
  }
  .right {
    width: 30%;
  }
}
