@import "shared";

.application > .header {
  @include clear-fix;

  padding-top: 2em;
  padding-bottom: 2em;

  background-color: $grey;
  border-bottom: 1px solid darken($grey, 20%);

  .app-menu {
    float: left;
    max-width: 80%;
    padding: 0 2em;

    & > span {
      @extend .button;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .me {
    float: right;
    max-width: 20%;
    padding-right: 2em;

    .login-section {
      .fb-login {
        @extend .button;
        @include icon-facebook();
        margin-left: .4em;
      }
    }

    .picture-section {
      .picture {
        @include shadow(.3em);
        display: inline-block;
        width: 2em;
        height: 2em;
        margin-right: 1em;

        line-height: 2em;
        text-align: center;
        vertical-align: middle;

        background-color: #fff;
        cursor: pointer;
      }

      .logout {
        @extend .button;
        @include icon-logout();
      }
    }

  }
}
