@import "shared";

$header-logo-size: 2em;

.application > .header {
  background-color: $grey;
  border-bottom: 1px solid darken($grey, 20%);

  .app-menu {
    float: left;
    width: 70%;
    padding-right: 2em;

    .home, .dishes, .order {
      display: inline-block;
    }

    .home {
      width: $header-logo-size;
      height: $header-logo-size;
      margin-right: 1em;
      line-height: $header-logo-size;

      background: url("../img/logo.png") no-repeat;
      background-size: $header-logo-size $header-logo-size;

      cursor: pointer;
    }

    .dishes {
      @extend .button;
      margin-right: 1em;
    }

    // last menu item
    .order {
      @extend .button;
    }
  }

  .me {
    float: right;
    width: 30%;

    text-align: right;

    .login-section {
      .please-wait {
        @include icon-update;
        @include animate-spin;
      }

      .fb-login {
        @include icon-facebook();
        margin-left: 1em;
      }
    }

    .avatar-section {
      .avatar {
        @extend .link;
        margin-right: 1em;

        font-size: 100%;
        background-color: #fff;
        opacity: 1;

        &::before {
          display: inline-block;
          // content is set dynamically
        }
      }

      .logout {
        @include icon-logout();
      }
    }

  }
}
