$darkest: hsl(210, 80%, 10%);
$darker: lighten($darkest, 10%);
$lightest: #ffffff;
$lighter: darken($lightest, 30%);
$accent: adjust_color($darkest, $lightness: 50%);


// --------------------- mixins ---------------------
@mixin clear-fix {
  &::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}


@mixin in-out-fast($property) {
  transition: $property .3s;
}


@mixin vertically-centered {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}


@mixin shadow($size: 3em, $color: opacify($darkest, 30%)) {
  box-shadow: 0 0 $size $color;
}


.input-hover-behavior {
  @include in-out-fast(background-color);

  border: 1px solid $lighter;
  background-color: $lighter;

  &:focus {
    background-color: #fff;
  }
}
