<div class="main-content labels">
    <h1>Labels area</h1>

    <div class="table">
        <div class="row table-header">
            <div class="column-2">Назва</div>
            <div class="column-1">Іконка</div>
        </div>
        {{#each payload}}
            <div class="row table-row">
                <!--<div class="id">{{id}}</div>-->
                <div class="column-2 name">{{name}}</div>
                <div class="column-1 icon">
                    <span class="icon">{{icon}}</span>
                    <span class="icon-actions">
                        <span class="button edit">Edit</span>
                        <span class="button delete">Del</span>
                    </span>
                </div>
                <div class="column-1 actions">
                    <span class="button edit">Edit</span>
                    <span class="button delete">Del</span>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="form">
        <div class="form-name">New label</div>
        <div class="row">
            <div class="column-2">
                {{> input label="New label" value="" errorMessage="Назва не може бути порожньою!"}}
            </div>
            <div class="column-1">
                <span class="icon"></span>
                <span class="icon-actions">
                    <span class="button edit">...</span>
                </span>
            </div>
            <div class="column-1 actions">
                <span class="button edit">Save</span>
                <span class="button delete">Cancel</span>
            </div>
        </div>
    </div>
</div>
