<div class="page dishes">
  <h1>Страви</h1>
  <ul>
    {{#.}}
      <li>
        <div class="name">{{name}}</div>
        <div class="name">{{price}}</div>
        <div class="controls">
          <input type="button" class="edit"/>
          <input type="button" class="delete"/>
        </div>
      </li>
    {{/.}}
  </ul>
</div>
