<div class="page dishes">
  <h1>Страви</h1>
  <ul>
    {{#.}}
      <li>
        <div class="name">{{name}}</div>
        <div class="price">{{price}}</div>
        <div class="controls">
          <span class="button edit"></span>
          <span class="button delete"></span>
        </div>
      </li>
    {{/.}}
  </ul>
</div>
