<div class="name">
  <input type="text" name="name"/>
</div>
<div class="price">
  <input type="text" name="price"/>
</div>
<div class="buttons">
  <input class="submit" type="button"/>
  <input class="cancel" type="button"/>
</div>
