<div class="name">
  <input type="text" name="name"/>
</div>
<div class="price">
  <input type="text" name="price"/>
</div>
<div class="buttons">
  <span class="button submit"></span>
  <span class="button cancel"></span>
</div>
