@mixin __animation-spin__ {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: .25;
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    opacity: 1;
  }
}

@mixin animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

@-moz-keyframes spin {
  @include __animation-spin__();
}
@-webkit-keyframes spin {
  @include __animation-spin__();
}
@-o-keyframes spin {
  @include __animation-spin__();
}
@-ms-keyframes spin {
  @include __animation-spin__();
}
@keyframes spin {
  @include __animation-spin__();
}
