@import "../shared/_colors.scss";

$logo-size: 65px;

body > header {
    margin: 2em 0 2em;

    .logo {
        float: left;
        width: $logo-size;
        height: $logo-size;
        margin: -.5em 0;
        background: center center no-repeat url("./img/logo.png");
        background-size: contain;
    }

    .site-menu {
        float: right;
    }
}
