@import "../constants";
@import "../components";

.admin-app {
  .dishes {
    @extend .v-list;
  }

  .dish {
    @extend .hoverable;

    position: relative;
    padding: .5em;
    overflow: hidden;

    .size {
      font-style: italic;
    }

    .description {
      margin: 1em 0;
      font-size: $x-small-text;
    }

    &:hover {
      .hover-controls {
        bottom: 0;
      }
    }
  }
}
