@import "../constants";
@import "../components";

.admin-app {
  .dishes {
    @extend .v-list;
  }

  .dish {
    @extend .hoverable;
    margin-right: -.5em;
    margin-left: -.5em;

    padding: .5em;

    .size {
      font-style: italic;
    }

    .description {
      margin: 1em 0;
      font-size: $x-small-text;
    }
  }
}
