@import "../constants";
@import "../components";


.admin-app .images {
  & > .row {
    margin: 0 -.25em .75em -.25em;
  }
}


.image-wrapper {
  position: relative;
  // kinda hack for square div
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  // -------------------------
  border-radius: .25em;


  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: .25em;
    background-size: cover;
    background-position: center;

    opacity: .7;

    &.none {
      background-color: darken($bg-color, 30%);
    }
  }
}


// "Images" area @ Admin page
.images .image-wrapper {
  .image {
    top: .25em;
    right: .25em;
    bottom: .25em;
    left: .25em;
  }
}


// <anu form> --> "ImagePicker" @ Admin Page
.picker .image-wrapper {
  cursor: pointer;
  transition: background-color $transition-props;

  .image {
    top: .25em;
    right: .25em;
    bottom: .25em;
    left: .25em;

    transition: opacity $transition-props;
  }

  &:hover {
    background-color: $text-color;

    .image {
      opacity: 1;
    }
  }
}
