<div class="delete-dish">
  <div class="label">
    Видалити <span class="name">{{name}}</span>?
  </div>
  <div class="controls">
    <span class="button cancel icon-back"></span>
    <span class="button submit icon-ok"></span>
  </div>
</div>
