<div class="page dishes">
  <h1>Страви</h1>
  <ul>
    {{#.}}
      <li>
        <div class="left">
          <span class="name">{{name}}</span>
        </div>
        <div class="right">
          <span class="price">{{price}}</span>
          <span class="controls">
            <span class="button edit icon-edit" data-id="{{id}}"></span>
            <span class="button delete icon-delete" data-id="{{id}}"></span>
          </span>
        </div>
      </li>
    {{/.}}
  </ul>
</div>
