<div class="edit-dish">
  <div class="input-section">
    <label>Страва</label>
    <span class="input-wrapper">
      <input type="text" name="name"/>
    </span>
  </div>
  <div class="input-section">
    <label>Ціна</label>
    <span class="input-wrapper">
      <input type="text" name="price"/>
      <span class="currency">грн.</span>
    </span>
  </div>
  <div class="controls">
    <span class="button cancel icon-back"></span>
    <span class="button submit icon-ok"></span>
  </div>
</div>
