<div class="edit-dish">
  <div class="name">
    <label>Страва</label>
    <input type="text" name="name"/>
  </div>
  <div class="price">
    <label>Ціна</label>
    <input type="text" name="price"/>
  </div>
  <div class="controls">
    <span class="button submit icon-ok"></span>
    <span class="button cancel icon-back"></span>
  </div>
</div>
