<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
    <div class="outer-container">
        {{> header}}
    </div>
    <div class="outer-container">
        {{{body}}}
    </div>
    <div class="outer-container">
        {{> footer}}
    </div>
</body>
</html>
