@import "shared/colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  color: $charcoal;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  text-align: left;
}

a {
  color: $electro;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: $dark-electro;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: .8em 0 .2em;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 125%;
}
